@import "base";

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$grey: #516567;
$teal: #35CE8D;
$brown: #6F2A11;
$orange: #BB4F21;
$white: #E3E9E9;

@font-face {
  font-family: "Irish";
  src: url("resources/irish.ttf");
}

body {
  font-family: $font-stack;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#hero {
  width: 33%;
  font-family: Irish, $font-stack;
}

#hero_text {
  position: absolute;
  top: 27vh;

  width: inherit;
  height: 10vh;

  background-color: rgba($brown, 0.4);

  font-size: 4vw;
  color: $white;
  line-height: 11vh;
  text-align: center;
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  width: 66%;
}
